## AUDIENCE ACTIVITY - A STUDY ON HOW THE TIME OF DAY AFFECTS POST ENGAGEMENT

This project aims to determine what kind of posts are more popular and get more interaction; and what time of the day is the best time to post.

Data is from Hacker News

Hacker News is a site started by the startup incubator Y Combinator, where user-submitted stories (known as "posts") are voted and commented upon, similar to reddit. Hacker News is extremely popular in technology and startup circles, and posts that make it to the top of Hacker News' listings can get hundreds of thousands of visitors as a result.

#### DATASET DESCRIPTION
* id: The unique identifier from Hacker News for the post
* title: The title of the post
* url: The URL that the posts links to, if it the post has a URL
* num_points: The number of points the post acquired, calculated as the total * * number of upvotes minus the total number of downvotes
* num_comments: The number of comments that were made on the post
* author: The username of the person who submitted the post
* created_at: The date and time at which the post was submitted

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

### DATA EXPLORATION AND CLEANING

In [2]:
hn = pd.read_csv("hn_posts.csv")
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12579008,You have two days to comment if you want stem ...,http://www.regulations.gov/document?D=FDA-2015...,1,0,altstar,9/26/2016 3:26
1,12579005,SQLAR the SQLite Archiver,https://www.sqlite.org/sqlar/doc/trunk/README.md,1,0,blacksqr,9/26/2016 3:24
2,12578997,What if we just printed a flatscreen televisio...,https://medium.com/vanmoof/our-secrets-out-f21...,1,0,pavel_lishin,9/26/2016 3:19
3,12578989,algorithmic music,http://cacm.acm.org/magazines/2011/7/109891-al...,1,0,poindontcare,9/26/2016 3:16
4,12578979,How the Data Vault Enables the Next-Gen Data W...,https://www.talend.com/blog/2016/05/12/talend-...,1,0,markgainor1,9/26/2016 3:14

In [3]:
hn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293119 entries, 0 to 293118
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            293119 non-null  int64
 1   title         293119 non-null  object
 2   url           279256 non-null  object
 3   num_points    293119 non-null  int64
 4   num_comments  293119 non-null  int64
 5   author        293119 non-null  object
 6   created_at    293119 non-null  object
dtypes: int64(3), object(4)
memory usage: 15.7+ MB

In [4]:
hn["author"].value_counts()

jonbaer       2731
ingve         2487
prostoalex    1656
dnetesn       1517
jseliger      1382
              ...
cogmission       1
zhs              1
liady            1
poooogles        1
dionyziz         1
Name: author, Length: 51900, dtype: int64

Entries with empty url fields will be filled with "no url"

In [5]:
hn["url"] = hn["url"].fillna("no url")

In [6]:
hn["url"].isnull().sum()

0

In [7]:
hn["title"][:10]

0    You have two days to comment if you want stem ...
1                           SQLAR  the SQLite Archiver
2    What if we just printed a flatscreen televisio...
3                                    algorithmic music
4    How the Data Vault Enables the Next-Gen Data W...
5                        Saving the Hassle of Shopping
6    Macalifa  A new open-source music app for UWP ...
7    GitHub  theweavrs/Macalifa: A music player wri...
8                        Google Allo  first Impression
9        Advanced Multimedia on the Linux Command Line
Name: title, dtype: object

In [8]:
hn.describe()

                 id     num_points   num_comments
count  2.931190e+05  293119.000000  293119.000000
mean   1.133046e+07      15.025324       6.525544
std    6.961055e+05      58.504103      30.376319
min    1.017690e+07       1.000000       0.000000
25%    1.071636e+07       1.000000       0.000000
50%    1.130303e+07       2.000000       0.000000
75%    1.193152e+07       4.000000       1.000000
max    1.257901e+07    5771.000000    2531.000000

In [16]:
# The "created_at" column is an object. It'll now be converted to datetime to 
hn["created_at"] = pd.to_datetime(hn["created_at"])

In [17]:
hn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293119 entries, 0 to 293118
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            293119 non-null  int64
 1   title         293119 non-null  object
 2   url           293119 non-null  object
 3   num_points    293119 non-null  int64
 4   num_comments  293119 non-null  int64
 5   author        293119 non-null  object
 6   created_at    293119 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 15.7+ MB